@tailwind base;
@tailwind components;

@tailwind utilities;

html,
body {
 background: #f3f4f6;
 padding: 0;
 margin: 0;
 font-family: "Lato", sans-serif;
}

* {
 box-sizing: border-box;
}

.search {
 width: 600px;
}
.search,
input,
button {
 border-radius: 5px;
}

.search-btn {
 padding: 10px 10px;
 background: #e4811c;
 font-weight: 500px;
}
@media (max-width: 768px) {
 .search {
  width: 100%;
 }
}
